{'Package': 'python3-oslo.config', 'Source': 'python-oslo.config', 'Version': '1:6.4.1-1', 'Installed-Size': '662', 'Maintainer': 'Debian OpenStack <team+openstack@tracker.debian.org>', 'Architecture': 'all', 'Depends': ['python3-debtcollector', 'python3-docutils', 'python3-netaddr', ['python3-oslo.i18n', '>=', '3.15.3'], ['python3-oslo.log', '>=', '3.36.0'], ['python3-pbr', '>=', '2.0.0'], ['python3-requests', '>=', '2.18.0'], 'python3-rfc3986', ['python3-six', '>=', '1.10.0'], ['python3-stevedore', '>=', '1.20.0'], 'python3-yaml', 'python3:any'], 'Description': 'Common code for Openstack Projects (configuration API) - Python 3.x', 'Homepage': 'https://github.com/openstack/oslo.config', 'Description-md5': '4fc1a07543e0543531190d9b8bf76f59', 'Section': 'python', 'Priority': 'optional', 'Filename': 'pool/main/p/python-oslo.config/python3-oslo.config_6.4.1-1_all.deb', 'Size': '108152', 'SHA256': 'fe84e3caf381aceb048c88cdaee6acc12291a41e96fae50813866cb70d5813fb'}