{'Package': 'python-oslo.config', 'Version': '1:6.4.1-1', 'Installed-Size': '661', 'Maintainer': 'Debian OpenStack <team+openstack@tracker.debian.org>', 'Architecture': 'all', 'Depends': ['python-debtcollector', 'python-docutils', ['python-enum34', '>=', '1.0.4'], 'python-netaddr', ['python-oslo.i18n', '>=', '3.15.3'], ['python-pbr', '>=', '2.0.0'], ['python-requests', '>=', '2.18.0'], 'python-rfc3986', ['python-six', '>=', '1.10.0'], ['python-stevedore', '>=', '1.20.0'], 'python-yaml', 'python2.7:any', ['python:any', '<<', '2.8'], ['python:any', '>=', '2.7~']], 'Description': 'Common code for Openstack Projects (configuration API) - Python 2.x', 'Homepage': 'https://github.com/openstack/oslo.config', 'Description-md5': '71e97a1e4686d5fbe3646fb3b55220b5', 'Section': 'python', 'Priority': 'optional', 'Filename': 'pool/main/p/python-oslo.config/python-oslo.config_6.4.1-1_all.deb', 'Size': '107980', 'SHA256': 'e6b125506839c4d6f45a256c1e46278c21a0a655b74fd689776dc8bcc0384762'}