{'Package': 'python3-lazr.config', 'Source': 'lazr.config', 'Version': '2.2-1', 'Installed-Size': '134', 'Maintainer': 'Barry Warsaw <barry@debian.org>', 'Architecture': 'all', 'Depends': ['python3-lazr.delegates', 'python3-pkg-resources', 'python3-zope.interface', ['python3:any', '>=', '3.3.2-2~']], 'Suggests': ['python-lazr.config-doc'], 'Description': 'ini-file format handling supporting schemas and inheritance', 'Homepage': 'https://launchpad.net/lazr.config', 'Description-md5': '0265926e04501df094fe6bff12713424', 'Section': 'python', 'Priority': 'optional', 'Filename': 'pool/main/l/lazr.config/python3-lazr.config_2.2-1_all.deb', 'Size': '24486', 'SHA256': '0dec429dab11839ce53c1f72358b02689d511dc15acacd17a1dc072326fa50a3'}