{'Package': 'python-lazr.config', 'Source': 'lazr.config', 'Version': '2.2-1', 'Installed-Size': '137', 'Maintainer': 'Barry Warsaw <barry@debian.org>', 'Architecture': 'all', 'Depends': ['python-lazr.delegates', 'python-pkg-resources', 'python-zope.interface', ['python:any', '<<', '2.8'], ['python:any', '>=', '2.7.5-5~']], 'Suggests': ['python-lazr.config-doc'], 'Description': 'ini-file format handling supporting schemas and inheritance', 'Homepage': 'https://launchpad.net/lazr.config', 'Description-md5': '20aee0be0d8c1d14c783f15fb2cdb43b', 'Section': 'python', 'Priority': 'optional', 'Filename': 'pool/main/l/lazr.config/python-lazr.config_2.2-1_all.deb', 'Size': '24464', 'SHA256': 'abbe822b93fd4f2030e34301cb8a3539d0e4d136c3b708bd419dcfe9813d58f9'}