{'Package': 'python3-wheezy.template', 'Source': 'python-wheezy.template (0.1.167-1.1)', 'Version': '0.1.167-1.1+b3', 'Installed-Size': '2545', 'Maintainer': 'Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>', 'Architecture': 'amd64', 'Provides': 'python3.6-wheezy.template, python3.7-wheezy.template', 'Depends': [['python3', '<<', '3.8'], ['python3', '>=', '3.6~'], ['python3:any', '>=', '3.3.2-2~'], ['libc6', '>=', '2.4']], 'Description': 'a lightweight template library (Python 3 package)', 'Homepage': 'https://bitbucket.org/akorn/wheezy.template', 'Description-md5': '1b0117b1400840bb71ab8c3245e64c05', 'Section': 'utils', 'Priority': 'optional', 'Filename': 'pool/main/p/python-wheezy.template/python3-wheezy.template_0.1.167-1.1+b3_amd64.deb', 'Size': '523452', 'SHA256': 'b470f0d01c6d7ec413c5ab779ed1246625688ddd360fd62ecdb140d0e97ac926'}