{'Package': 'python-wheezy.template', 'Source': 'python-wheezy.template (0.1.167-1.1)', 'Version': '0.1.167-1.1+b3', 'Installed-Size': '1280', 'Maintainer': 'Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>', 'Architecture': 'amd64', 'Provides': 'python2.7-wheezy.template', 'Depends': [['python', '<<', '2.8'], ['python', '>=', '2.7~'], ['python:any', '<<', '2.8'], ['python:any', '>=', '2.7.5-5~'], ['libc6', '>=', '2.4']], 'Description': 'a lightweight template library (Python 2 package)', 'Homepage': 'https://bitbucket.org/akorn/wheezy.template', 'Description-md5': 'f3f05fcd06b5ff97e3a42ab36e1d1bad', 'Section': 'utils', 'Priority': 'optional', 'Filename': 'pool/main/p/python-wheezy.template/python-wheezy.template_0.1.167-1.1+b3_amd64.deb', 'Size': '320548', 'SHA256': '555c18e496cdb79b435e55fd08ece0c02c2f57332c029bcfc4d4332a3b3c6549'}