{'Package': 'python3-oslo.policy', 'Source': 'python-oslo.policy', 'Version': '1.38.1-2', 'Installed-Size': '291', 'Maintainer': 'Debian OpenStack <team+openstack@tracker.debian.org>', 'Architecture': 'all', 'Depends': [['python3-oslo.config', '>=', '1:5.2.0'], ['python3-oslo.context', '>=', '2.21.0'], ['python3-oslo.i18n', '>=', '3.15.3'], ['python3-oslo.serialization', '>=', '2.18.0'], ['python3-requests', '>=', '2.14.2'], ['python3-six', '>=', '1.10.0'], ['python3-stevedore', '>=', '1.20.0'], 'python3-yaml', 'python3:any'], 'Suggests': ['python-oslo.policy-doc'], 'Description': 'RBAC policy enforcement library for OpenStack - Python 3.x', 'Homepage': 'https://github.com/openstack/oslo.policy', 'Description-md5': '20ae3e51fa41b0c6f176de4a3e29faa5', 'Section': 'python', 'Priority': 'optional', 'Filename': 'pool/main/p/python-oslo.policy/python3-oslo.policy_1.38.1-2_all.deb', 'Size': '43560', 'SHA256': '66855efcecb37c6174cb7eba95c619f6fd0634a17ab57a8898581cb81c94257f'}